@media (max-width: 920px){
    .css-qsh0n7 {
        width: 100% !important;
        height: 400px;
    }
    .css-1wh3vo6 {
        flex-direction: column;
    }
    .css-1n2aw79 {
        padding: 4px;
    }
    .css-182x963 {
        min-width: 240px;
    }
    .css-1xi3jwj {
        width: 100% !important;
    }
    .css-1ytu6zl {
        padding: 5px;
    }
}