.card {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-media {
    height: 250px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 790px) {
    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-media {
        height: 300px;
    }
  }